*/*.aux 
*/*.bit 
*/*.blg 
*/*.bbl 
*/*.lof 
*/*.log 
*/*.lot 
*/*.glo 
*/*.glx 
*/*.gxg 
*/*.gxs 
*/*.idx
*/*.ilg
*/*.ind
*/*.out
*/*.url
*/*.svn
*/*.toc
*/*.ist
*/*.fdb_latexmk
*/*.glsdefs
*/*.synctex.gz
*/*.fls
*/*.acn